@import 'base';

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    overflow-x: hidden!important;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d409f+0,5c319a+49,8f2094+82 */
    background: #2d409f; /* Old browsers */
    background: -moz-linear-gradient(135deg, #2d409f 0%, #5c319a 49%, #8f2094 82%); /* FF3.6-15 */
    background: -webkit-linear-gradient(135deg, #2d409f 0%,#5c319a 49%,#8f2094 82%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #2d409f 0%,#5c319a 49%,#8f2094 82%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d409f', endColorstr='#8f2094',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



/** ---------------------------
  LAYOUT
 -------------------------- **/

.wrap {
    width: 1200px;
    margin: 0 auto;
}