*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}body{overflow:hidden;overflow-x:hidden !important;background:#2d409f;background:-moz-linear-gradient(135deg, #2d409f 0%, #5c319a 49%, #8f2094 82%);background:-webkit-linear-gradient(135deg, #2d409f 0%, #5c319a 49%, #8f2094 82%);background:linear-gradient(135deg, #2d409f 0%, #5c319a 49%, #8f2094 82%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d409f', endColorstr='#8f2094',GradientType=1 )}.wrap{width:1200px;margin:0 auto}
